<div class="container">
    <div class="row text-center">
        <h1 class="text-info">404 Not Found</h1>
        <h3 class="text-info">The page you are looking for does not exist</h3>
        <hr>
        <a class="btn btn-primary" asp-controller="Movies" asp-action="Index">Return to the Homepage</a>
    </div>
</div>
    

